<!DOCTYPE html>
<html ng-app="store">
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="app.css"/>
</head>
<body ng-controller="StoreController as store">
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="header">Takealot-Replica</h1>


		    </div>
		    <div class="panel-body">
		    	<div class="cart-container">
		    		<button type="button" class="btn btn-default btn-md">
		    			<span class="glyphicon glyphicon-shopping-cart"></span>
		    			<span class="badge">{{store.totalItem}}</span>
		    		</button>

		    	</div><br /><br />

		    	<ul class="list-group">

		    		<li class="list-group-item" ng-repeat="product in store.products | orderby: '-price'">
		    			<div class="demo-list-container">
		    				<h3>
		    					{{product.name}}
		    					<em class="pull-right">{{product.price | currency}}</em>

		    				</h3>

		    			</div>
		    		</li>
		    	</ul>

		    </div>

		</div>


	</div>

	</body>
	</html>
